{% extends 'base.html.twig' %}

{% block body %}

    <h1>Family Page</h1>

    <h3><a href="{{ path('family_new') }}">Register Your Family</a></h3>
    <h3><a href="{{ path('family_list') }}">All Families</a></h3>
    <h3><a href="{{ path('family_stats') }}">Family's Stats</a></h3>

{% endblock %}
